---
- hosts: all  #localhost
  #connection: local
  vars:
    java_version: 17
    java_package: "java-{{ java_version }}-amazon-corretto-devel"
    jenkins_repo_url: "https://pkg.jenkins.io/redhat-stable/jenkins.repo"
    jenkins_ci_key_url: "https://pkg.jenkins.io/redhat-stable/jenkins.io-2023.key"
    jenkins_package_name: "jenkins"
    jenkins_service_name: "jenkins"
    jenkins_port: 8080
    yum_repos_dest: "/etc/yum.repos.d"

  become: true
  tasks:
    
    - name: Wait for SSH port 22 to be open on target host from Ansible Control Node
      wait_for:
        host: "{{ (ansible_ssh_host|default(ansible_host))|default(inventory_hostname) }}"
        port: 22
        state: started
        timeout: 120         # max wait 2 minutes per attempt
        delay: 10            # wait 10s before the first try
      delegate_to: localhost # Ensures Task runs on Ansible Control Node itself
      register: ssh_chec
      retries: 5             # retry 5 times if the task fails
      delay: 15              # wait 15s between retries
      until: ssh_check is succeeded

    - name: Confirm SSH is reachable
      debug:
        msg: "✅ SSH is ready on {{ inventory_hostname }}"

    - name: Ensure system packages are up to date
      ansible.builtin.dnf:
        name: "*"
        state: latest
        update_cache: yes

    - name: Download Jenkins repository file
      get_url:
        url: "{{ jenkins_repo_url }}"
        dest: "{{yum_repos_dest}}/{{ jenkins_package_name }}.repo"
      
    - name: Import Jenkins-CI key
      shell: rpm --import {{ jenkins_ci_key_url }}
      
    - name: Install Java
      yum:
        name: "{{ java_package }}"
        state: present
      
    - name: Install Jenkins
      yum:
        name: "{{ jenkins_package_name }}"
        state: present
      
    - name: Start Jenkins service
      service:
        name: "{{ jenkins_service_name }}"
        state: started
        enabled: yes
      
    - name: Wait for Jenkins port {{ jenkins_port }} open
      wait_for:
        host: 127.0.0.1   # Target node's IP (host refers by default to target node)
        port: "{{ jenkins_port }}"
        delay: 15
        timeout: 100

    - name: Confirm Jenkins port {{ jenkins_port }} is reachable
      debug:
        msg: "✅ {{ jenkins_port }} is ready on {{ inventory_hostname }}"

    - name: Verify Jenkins is running
      ansible.builtin.command: "systemctl is-active {{ jenkins_service_name }}"
      register: jenkins_status
      changed_when: false
      failed_when: jenkins_status.stdout != "active"

    - name: Show Jenkins status
      ansible.builtin.debug:
        msg: "Tomcat is {{ tomcat_status.stdout_lines }}"
